/* Nav Bar */
.MainContainer{
   
  
}

.Menu{
  background-color: rgb(0, 0, 0);
    margin: 0 auto;
   
}

.menuitem7{
    margin-left:20px;
    font-size: 20px;
    color: aquamarine;

}

.menuitem7:hover{
    text-decoration: underline;
}



.hader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;


}

.Logocontainer{
    width: 50px;
    height: 50px;
}

.Logoimg{
    width: 70px;
 }
 
.Menucontainer{
    margin-top: 30px;
    margin-right: 10px;


}

.MobileMenuContainer{
    display: none;
    
}

.menuimg{
    width: 40px;
}
@media (max-width : 800px)  {
    .Menucontainer{
        display: none;
    }
    .MobileMenuContainer{
        display: block;
    }  
}
/* Nav Bar */





/* landing page */
.mainbody{
    max-width: 1024px;
    margin: 0 auto;
}
.container1{
    display: flex;
    flex-wrap: wrap;

}
  .titleHeader {
    margin-bottom: 20px;
   font-weight: 300;
  }
  
  .description {
    margin-bottom: 20px;
  }
  
  .blockElement {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: lightgray;
    height: 35px;
    width: 300px;
    border-radius: 15px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  
  }
  
  .myanmar {
    background-color: #0084ff;
    border-radius: 24px;
    border: none;
    color: white;
    padding: 2px 20px 0px;
    font-size: 19px;
    height: 40px;
    width: 100px;
  }
  
  .inputSpan {
    margin-bottom: 20px;
  }
  
  .password {
    margin-bottom: 20px;
  }
  
  
  .left {
      display: inline-block;
      width: 50%;
  }
  
  .inner {
    width: 50%;
  }
  
  .right {
      display: inline-block;
      width: 50%;
  }

  .rightImage {
    width: 90%;
    
}
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    
  
    
  
    .left {
      width: 100%;
    }
  }

  .innerphoto{
    width: 100px;

  }

/* landing page */













  
  
 
     /* Mentor page */

    .H1{
        margin-left: 43%;
        margin-top: 50px;
    }
  .m1{
   
    max-width: 1200px;
    margin: 0 auto;
    background-color: darkgray;
   
  }

  .c1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
   
   
    
  }

  .l1{
    display: inline-block;
    width: 314px;

  }
  .r1{
    display: inline-block;
    width: 314px;
  }

  .r2{
    display: inline-block;
    width: 314px;
  }
 

  .Rimg{
    width: 100%;
  }
/* Mentor page */





   /* Add this CSS code for image overlay and fade-in effect */
   .overlay-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.overlay-container:hover .overlay-text {
    opacity: 1;
}

.text-block {
    position: absolute;
    bottom: 81%;
    right: 220px;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity as needed */
    backdrop-filter: blur(0px); /* Adjust the blur radius as needed */
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
}

.PR{
    font-size: small;
}








.dropbtn {
    margin-left:20px;
    font-size: 20px;
    color: aquamarine;
    cursor: pointer;
    background-color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    border-color: black;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #eeeeee;
    text-decoration: underline;
  }