


/* Sticky NavBar */
.MainContainer{
   
}

.Menu{
  background-color: rgb(0, 0, 0);
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  
   
}


.menuitem7{
    margin-left:20px;
    font-size: 20px;
    color: aquamarine;
    text-decoration: none;

}

.menuitem7:hover{
    text-decoration: underline;
}



.hader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;


}

.Logocontainer{
    width: 50px;
    height: 50px;
}

.Logoimg{
    width: 70px;
 }
 
.Menucontainer{
    margin-top: 30px;
    margin-right: 10px;


}

.MobileMenuContainer{
    display: none;
    
}

.menuimg{
    width: 40px;
}
@media (max-width : 800px)  {
    .Menucontainer{
        display: none;
    }
    .MobileMenuContainer{
        display: block;
    }  
}

/* Sticky NavBar */

body {
  margin: 0;
  padding: 0;
  background-image: url('Photo/firstpagebackground.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.imgcontainer{
  
}

.Img{
 max-width: 1024px;
 margin:0 auto;
 position: relative;
 margin-top: 50px;

}

.image-text{
 position: absolute;
 top: 50%; 
 left: 50%;
 transform: translate(-50%, -50%); 
 text-align: center;
 background-color: rgba(0, 0, 0, 0.7); 
 color: white;
 padding: 10px;
 font-size: 40px;
}
 /*HoVER bUTTON  */
.button1{
  position: absolute;
  top: 95%;
  left: 15%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: white; 
  padding: 10px;
  border: 2px solid #ffffff;
  outline:rgb(246, 243, 243);
  
}
.button1:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255) ;
}

.button2{
  position: absolute;
   top: 95%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #0b0a0a;
   color: white;
   padding: 10px;
   border: 2px solid #ffffff;
}
.button2:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255) ;
}

/*  hoVER bUTTON  */

.main-btn{

}

.left-btn{



}

.right-btn{

}
.Image{
  width: 100%;
}


.about {
  max-width: 900px;
  background-color: #F4F6F7 ;
  padding: 60px ;
  text-align: center;

  margin: 0 auto;
  margin-top: 40px;
  
}

.about h2 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-bottom: 30px;
}

.about p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: rgb(0, 0, 0);
  text-align: justify;
  
 
}


   /* Information  */

   .H1{
    margin-left: 43%;
    margin-top: 50px;
}
.m1{

max-width: 1200px;
margin: 0 auto;
background-color: darkgray;

}

.c1{
display: flex;
flex-wrap: wrap;
justify-content: center;




}

.l1{
display: inline-block;
width: 50%;

}
.r1{
display: inline-block;
width: 50%;
}

.r2{
display: inline-block;
width: 314px;
}


.Rimg{
width: 100%;
}
  /* Information  */





/* Add this CSS code for image overlay and fade-in effect */
.overlay-container {
position: relative;
display: inline-block;
}

.overlay-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
transition: opacity 0.3s ease;
background-color: rgba(0, 0, 0, 0.5);
color: white;
padding: 10px;
border-radius: 5px;
text-align: center;
}

.overlay-container:hover .overlay-text {
opacity: 1;
}

.text-block {
position: absolute;

bottom: 50%;
right: 200px;
background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity as needed */
backdrop-filter: blur(0px); /* Adjust the blur radius as needed */
color: rgb(0, 0, 0);
padding-left: 10px;
padding-right: 10px;
}
    
.PR{
font-size: small;
}


/* footer  */

  
/* footer  */